<div>
  <div>
    <h1>
      All Public Trips
    </h1>
  </div>
</div>

<hr>

<div>
  <div>

    <% if current_user != nil %>
      <h2>
        Add a new trip
      </h2>

      <form action="/insert_trip" method="post">
        <div>
          <label for="city_box">
            City
          </label>

          <input type="text" id="city_box" name="query_city" placeholder="Where to? Ex. 'Madrid'">
        </div>

        <div>

          <input type="hidden" id="user_id_box" name="query_user_id" value="<%= current_user.id %>">

          <input type="checkbox" id="private_box" name="query_private" value="1">

          <label for="private_box">Private (Only you will be able to view "Private" Trips)</label>
        </div>

        <button>
          Create trip
        </button>
      </form>
    <% else %>
      <p> Please sign in to create a trip </p>
    <% end %>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>

        <th>
          City
        </th>

        <th>
          User
        </th>

        <th>
          Trip length
        </th>

        <th>
          Events count
        </th>

        <th>
          Public rating
        </th>

        <th>
          Number of Ratings
        </th>

        <th>
          Created
        </th>

        <th>
        </th>
      </tr>

      <% if current_user == nil %>
        <% @list_of_trips.each do |a_trip| %>
          <%if a_trip.private == false %>
            <tr>

              <td>
                <%= a_trip.city %>
              </td>

              <td>
                <%= a_trip.user.email %>
              </td>

              <td>
                <%= a_trip.days_count %> days
              </td>

              <td>
                <%= a_trip.events_count %>
              </td>

              <td>
                <%= a_trip.public_rating %>
              </td>

              <td>
                <%= a_trip.ratings_count %>
              </td>

              <td>
                <%= time_ago_in_words(a_trip.created_at) %> ago
              </td>

              <td>
                <a href="/trips/<%= a_trip.id %>">
                  Show details
                </a>
              </td>
            </tr>
          <%end%>
        <%end%>
      <%else%>
        <% @list_of_trips.each do |a_trip| %>

          <%if a_trip.private == false && a_trip.user_id != current_user.id %>

            <tr>

              <td>
                <%= a_trip.city %>
              </td>

              <td>
                <%= a_trip.user.email %>
              </td>

              <td>
                <%= a_trip.days_count %> days
              </td>

              <td>
                <%= a_trip.events_count %>
              </td>

              <td>
                <%= a_trip.public_rating %>
              </td>

              <td>
                <%= a_trip.ratings_count %>
              </td>

              <td>
                <%= time_ago_in_words(a_trip.created_at) %> ago
              </td>

              <td>
                <a href="/trips/<%= a_trip.id %>">
                  Show details
                </a>
              </td>
            </tr>
          <%else%>
          <%end%>
        <% end %>
      <%end%>
    </table>
  </div>
</div>

<hr>
