<div>
  <div>
    <h1>
      <%= @the_trip.city %> trip details
    </h1>

    <div>
      <% if current_user == nil %>

      <% elsif @the_trip.user_id == current_user.id %>
        <div>
          <a href="/delete_trip/<%= @the_trip.id %>">
            Delete trip
          </a>
        </div>
      </div>
    <%end%>

    <dl>
      <dt>
        Destination city:
      </dt>
      <dd>
        <%= @the_trip.city %>
      </dd>

      <dt>
        Created by:
      </dt>
      <dd>
        <%= @the_trip.user.email %>
      </dd>

      <dt>
        Public rating:
      </dt>
      <dd>
        <%= @the_trip.public_rating %> / 5
      </dd>
      <dt>
        Number of ratings:
      </dt>
      <dd>
        <%= @the_trip.ratings_count %>
      </dd>
      <dt>
        My rating:
      </dt>
      <dd>
        <%= @the_trip.user_rating %>
      </dd>

      <dt>
        Days count: <a href="/trips/<%=params.fetch("path_id")%>/days">View Days</a>
      </dt>
      <dd>
        <%= @the_trip.days_count %>
      </dd>

      <dt>
        Number of events:
      </dt>
      <dd>
        <%= @the_trip.events_count %>
      </dd>

      <dt>
        Created:
      </dt>
      <dd>
        <%= time_ago_in_words(@the_trip.created_at) %> ago
      </dd>
      <% if time_ago_in_words(@the_trip.updated_at) == time_ago_in_words(@the_trip.created_at) %>

      <% else %>
        <dt>
          Updated:
        </dt>
        <dd>
          <%= time_ago_in_words(@the_trip.updated_at) %> ago
        </dd>
      <% end %>
    </dl>
  </div>
</div>

<% if current_user != nil %>
<div>
<h3>Rate This Trip</h3>
</div>
<div>
<form action="/insert_rating2" method="post">
<div>
<input type="hidden" name="query_trip_id" value="<%= @the_trip.id %>">
</div>
<div>
<label for="user_rating_box">
            My rating:
          </label>

          <select name="query_value" id="user_rating_box">
            <option value="">Select</option>
            <option value=5>5</option>
            <option value=4>4</option>
            <option value=3>3</option>
            <option value=2>2</option>
            <option value=1>1</option>
          </select>
          /5
          </div>
          <button>Submit Rating</button>
</form>
</div>
<% end %>

<hr>
<% if current_user == nil %>

<% elsif @the_trip.user_id == current_user.id %>

  <div>
    <div>
      <h2>
        Edit trip
      </h2>

      <form action="/modify_trip/<%= @the_trip.id %>"  method="post" >
        <div>
          <label for="city_box">
            City:
          </label>

          <input type="text" id="city_box" name="query_city" value="<%= @the_trip.city %>">
        </div>

        <div>

          <input type="hidden" id="user_id_box" name="query_user_id" value="<%= @the_trip.user_id %>">
        </div>

        <div>

          <input type="hidden" id="public_rating_box" name="query_public_rating" value="<%= @the_trip.public_rating %>">
        </div>

        <div>
          <input type="checkbox" id="private_box" name="query_private" value="1" <%= "checked" if @the_trip.private %>>

          <label for="private_box">
            Private
          </label>
        </div>

        <div>
          <label for="user_rating_box">
            My rating:
          </label>

          <select name="query_user_rating" id="user_rating_box">
            <option value="">Select</option>
            <option value="5">5</option>
            <option value="4">4</option>
            <option value="3">3</option>
            <option value="2">2</option>
            <option value="1">1</option>
          </select>

          <!-- <input type="text" id="user_rating_box" name="query_user_rating" value="<%#= @the_trip.user_rating %>">-->
        </div>

        <div>

          <input type="hidden" id="days_count_box" name="query_days_count" value="<%= @the_trip.days_count %>">
        </div>

        <div>

          <input type="hidden" id="events_count_box" name="query_events_count" value="<%= @the_trip.events_count %>">
        </div>

        <div>

          <input type="hidden" id="ratings_count_box" name="query_ratings_count" value="<%= @the_trip.ratings_count %>">
        </div>

        <button>
          Update trip
        </button>
      </form>
    </div>
  </div>

<%end%>
<hr>

<div>
  <div>
    <h1>
      List of days for trip to <%=@the_trip.city%>
    </h1>
  </div>
</div>

<hr>

 <% if current_user == nil %>
      
<% elsif @the_trip.user_id == current_user.id %>
  <div>
    <div>
      <h2>
        Add a new day
      </h2>

      <form action="/insert_day" method="post">
        <div>
        
          <input type="hidden" id="trip_id_box" name="query_trip_id" value="<%=@the_trip.id%>">
        </div>

        <div>
          <label for="date_box">
            Date
          </label>

          <input type="date" id="date_box" name="query_date">
        </div>

        <div>
          <label for="name_box">
            Name
          </label>

          <input type="text" id="name_box" name="query_name" placeholder = "Ex. Day 2">
        </div>

        <div>
          <label for="lodging_box">
            Lodging
          </label>

          <input type="text" id="lodging_box" name="query_lodging">
        </div>

        <button>
          Create day
        </button>
      </form>
    </div>
  </div>

  <hr>
<%end%>
<% if @list_of_days != nil%>
  <div>
    <div>
      <table border="1">
        <tr>
         
          <th>
            Date
          </th>

          <th>
            Name
          </th>

          <th>
            Lodging
          </th>

          <th>
            Number of Events
          </th>

          <th>
          </th>
        </tr>

        <% @list_of_days.each do |a_day| %>
          <tr>
           
            <td>
              <%= a_day.date %>
            </td>

            <td>
              <%= a_day.name %>
            </td>

            <td>
              <%= a_day.lodging %>
            </td>

            <td>
              <%= a_day.events_count %>
            </td>

            <td>
              <a href="/trips/<%= @the_trip.id %>/days/<%= a_day.id %>"> <!--should put in /trips/:path_id/days-->
                Show details
              </a>
            </td>
          </tr>
        <% end %>
      </table>

    </div>
  </div>

  <hr>
<%end%>
