<div>
  <div>
    <h1>
      My Trips
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new trip
    </h2>

    <form action="/insert_trip" method="post">
      <div>
        <label for="city_box">
          City
        </label>

        <input type="text" id="city_box" name="query_city"
        placeholder="Where to? Ex. 'Madrid'">
      </div>

      <div>

        <input type="hidden" id="user_id_box" name="query_user_id" value="<%= current_user.id %>">
      </div>

      <div>
        <input type="checkbox" id="private_box" name="query_private" value="1">

        <label for="private_box">Private (Only you will be able to view "Private" Trips)</label>
      </div>

      <button>
        Create trip
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>

        <th>
          City
        </th>

        <th>
          Private
        </th>

        <th>
          Trip length
        </th>

        <th>
          Events count
        </th>

        <th>
          My rating
        </th>

        <th>
          Public rating
        </th>

        <th>
          Number of Ratings
        </th>

        <th>
          Created
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_trips.where( :user_id => current_user.id ).each do |a_trip| %>
        <tr>

          <td>
            <%= a_trip.city %>
          </td>


          <td>
            <%if a_trip.private %>
              Private
            <%else%>
              Public
            <%end%>
          </td>

          <td>
            <%= a_trip.days_count %>
          </td>

          <td>
            <%= a_trip.events_count %>
          </td>
          <td>
            <%if a_trip.ratings.where({ :trip_id => a_trip.id}).where({ :user_id => a_trip.user_id}).first != nil %>
              <%= a_trip.ratings.where({ :trip_id => a_trip.id}).where({ :user_id => a_trip.user_id}).first.value %>
            <%end%>
          </td>

          <td>
            <%= a_trip.public_rating %>
          </td>

          <td>
            <%= a_trip.ratings_count %>
          </td>

          <td>
            <%= time_ago_in_words(a_trip.created_at) %> ago
          </td>
          <td>
            <%= time_ago_in_words(a_trip.updated_at) %> ago
          </td>

          <td>
            <a href="/trips/<%= a_trip.id %>">
              Show details
            </a>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
