<div>
  <div>
    <h1>
      Event #<%= @the_event.id %> details
    </h1>

    <div>
      <div>
        <a href="/events">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_event/<%= @the_event.id %>">
          Delete event
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Day
      </dt>
      <dd>
        <%= @the_event.day_id %>
      </dd>

      <dt>
        Notes
      </dt>
      <dd>
        <%= @the_event.notes %>
      </dd>

      <dt>
        Trip
      </dt>
      <dd>
        <%= @the_event.trip_id %>
      </dd>

      <dt>
        Time
      </dt>
      <dd>
        <%= @the_event.time %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_event.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_event.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit event
    </h2>

    <form action="/modify_event/<%= @the_event.id %>"  method="post" >
      <div>
        <label for="day_id_box">
          Day
        </label>

        <input type="text" id="day_id_box" name="query_day_id" value="<%= @the_event.day_id %>">
      </div>

      <div>
        <label for="notes_box">
          Notes
        </label>

        <input type="text" id="notes_box" name="query_notes" value="<%= @the_event.notes %>">
      </div>

      <div>
        <label for="trip_id_box">
          Trip
        </label>

        <input type="text" id="trip_id_box" name="query_trip_id" value="<%= @the_event.trip_id %>">
      </div>

      <div>
        <label for="time_box">
          Time
        </label>

        <input type="datetime-local" id="time_box" name="query_time"
         value="<%= @the_event.time %>">
      </div>

      <button>
        Update event
      </button>
    </form>
  </div>
</div>

<hr>
