<div>
  <div>
    <h1>
      <%= @the_event.name %> details
    </h1>

<% if current_user == nil %>

<% elsif current_user.id == @the_event.trip.user.id %>
           <div>
        <a href="/delete_event/<%= @the_event.id %>">
          Delete event
        </a>
      </div>
    </div>
<% end %>
    <dl>
   
      
      <dt>
        Notes:
      </dt>
      <dd>
        <%= @the_event.notes %>
      </dd>

    
      <dt>
        Created:
      </dt>
      <dd>
        <%= time_ago_in_words(@the_event.created_at) %> ago
      </dd>
<% if time_ago_in_words(@the_event.created_at) == time_ago_in_words(@the_event.updated_at) %>
  
<% else %>
      <dt>
        Updated
      </dt>
      <dd>
        <%= time_ago_in_words(@the_event.updated_at) %> ago
      </dd>
      <% end %>
    </dl>
  </div>
</div>

<hr>

<% if current_user == nil %>

<% elsif current_user.id == @the_event.trip.user.id %>
<div>
  <div>
    <h2>
      Edit event
    </h2>

    <form action="/modify_event/<%= @the_event.id %>"  method="post" >
      <div>
      
        <input type="hidden" id="day_id_box" name="query_day_id" value="<%= @the_event.day_id %>">
      </div>

<label for="name_box">
          Name:
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_event.name %>">
      </div>

      <div>
        <label for="notes_box">
          Notes:
        </label>

        <input type="text" id="notes_box" name="query_notes" value="<%= @the_event.notes %>">
      </div>

      <div>
        
        <input type="hidden" id="trip_id_box" name="query_trip_id" value="<%= @the_event.trip_id %>">
      </div>

    <!--  <div>
        <label for="time_box">
          Time
        </label>-->
<!--
        <input type="datetime-local" id="time_box" name="query_time"
         value="<%#= @the_event.time %>">
      </div>-->

      <button>
        Update event
      </button>
    </form>
  </div>
</div>

<hr>

<% end %>
