<div>
  <div>
    <h1>
      List of all ratings
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new rating
    </h2>

    <form action="/insert_rating" method="post">
      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id">
      </div>

      <div>
        <label for="value_box">
          Value
        </label>

        <input type="text" id="value_box" name="query_value">
      </div>

      <div>
        <label for="trip_id_box">
          Trip
        </label>

        <input type="text" id="trip_id_box" name="query_trip_id">
      </div>

      <button>
        Create rating
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          User
        </th>

        <th>
          Value
        </th>

        <th>
          Trip
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_ratings.each do |a_rating| %>
      <tr>
        <td>
          <%= a_rating.id %>
        </td>

        <td>
          <%= a_rating.user_id %>
        </td>

        <td>
          <%= a_rating.value %>
        </td>

        <td>
          <%= a_rating.trip_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_rating.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_rating.updated_at) %> ago
        </td>

        <td>
          <a href="/ratings/<%= a_rating.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
