<div>
  <div>
    <h1>
      List of days for trip to <%=@the_trip.city%>
    </h1>
  </div>
</div>

<hr>
 <% if @the_trip.user_id == current_user.id %>
<div>
  <div>
    <h2>
      Add a new day
    </h2>

    <form action="/insert_day" method="post">
      <div>
        <label for="trip_id_box">
          Trip
        </label>

        <input type="text" id="trip_id_box" name="query_trip_id" value="<%=@the_trip.id%>"> 
      </div>

      <div>
        <label for="date_box">
          Date
        </label>

        <input type="date" id="date_box" name="query_date">
      </div>

      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" placeholder = "Ex. Day 2">
      </div>

      <div>
        <label for="lodging_box">
          Lodging
        </label>

        <input type="text" id="lodging_box" name="query_lodging">
      </div>

      <button>
        Create day
      </button>
    </form>
  </div>
</div>

<hr>
<%end%>
<% if @list_of_days != nil%>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Trip
        </th>

        <th>
          Date
        </th>

        <th>
          Name
        </th>

        <th>
          Lodging
        </th>

        <th>
          Events count
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_days.each do |a_day| %>
      <tr>
        <td>
          <%= a_day.id %>
        </td>

        <td>
          <%= a_day.trip_id %>
        </td>

        <td>
          <%= a_day.date %>
        </td>

        <td>
          <%= a_day.name %>
        </td>

        <td>
          <%= a_day.lodging %>
        </td>

        <td>
          <%= a_day.events_count %>
        </td>

        <td>
          <%= time_ago_in_words(a_day.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_day.updated_at) %> ago
        </td>

        <td>
          <a href="/days/<%= a_day.id %>"> <!--should put in /trips/:path_id/days-->
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

  </div>
</div>

<hr>
    <%end%>
