<div>
  <div>
    <h1>
      <%= @the_day.name %> for <%= @the_day.trip.city %> trip details
    </h1>

    <div>
      <% if current_user == nil %>

      <% elsif @the_day.trip.user_id == current_user.id %>
        <div>
          <a href="/delete_day/<%= @the_day.id %>">
            Delete day
          </a>
        </div>
      </div>
    <% end %>
    <hr>

      <dt>
        Date:
      </dt>
      <dd>
        <%= @the_day.date %>
      </dd>

      <dt>
        Day Name:
      </dt>
      <dd>
        <%= @the_day.name %>
      </dd>

      <dt>
        Lodging:
      </dt>
      <dd>
        <%= @the_day.lodging %>
      </dd>

      <dt>
        Number of Events: 
      </dt>
      <dd>
        <%= @the_day.events_count %>
      </dd>


      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_day.created_at) %> ago
      </dd>
<% if time_ago_in_words(@the_day.updated_at) == time_ago_in_words(@the_day.created_at) %>
<% else %>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_day.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>
<% end %>
<hr>
<% if current_user == nil %>

<% elsif @the_day.trip.user_id == current_user.id %>
  <div>
    <div>
      <h2>
        Edit day
      </h2>

      <form action="/modify_day/<%= @the_day.id %>"  method="post" >
        <div>
         
          <input type="hidden" id="trip_id_box" name="query_trip_id" value="<%= @the_day.trip_id %>">
        </div>

        <div>
          <label for="date_box">
            Date
          </label>

          <input type="date" id="date_box" name="query_date" value="<%= @the_day.date %>">
        </div>

        <div>
          <label for="name_box">
            Name
          </label>

          <input type="text" id="name_box" name="query_name" value="<%= @the_day.name %>">
        </div>

        <div>
          <label for="lodging_box">
            Lodging
          </label>

          <input type="text" id="lodging_box" name="query_lodging" value="<%= @the_day.lodging %>">
        </div>

        <div>
       
          <input type="hidden" id="events_count_box" name="query_events_count" value="<%= @the_day.events_count %>">
        </div>

        <button>
          Update day
        </button>
      </form>
    </div>
  </div>

  <hr>
<% end %>
<div>
  <div>
    <h1>
      List of all <%= @the_day.name %> events
    </h1>
  </div>
</div>

<% if current_user == nil %>

<% elsif @the_day.trip.user_id == current_user.id %>
  <div>
    <div>
      <h2>
        Add a new event
      </h2>

      <form action="/insert_event" method="post">
        <div>

          <input type="hidden" id="day_id_box" name="query_day_id" value= "<%=@the_day.id%>">
        </div>
        <div>
          <label for="name_box">
            Event Name:
          </label>

          <input type="text" id="name_box" name="query_name">
        </div>

        <div>
          <label for="notes_box">
            Notes:
          </label>

          <input type="text" id="notes_box" name="query_notes">
        </div>

        <div>
          <input type="hidden" id="trip_id_box" name="query_trip_id" value="<%= @the_day.trip_id %>" >
        </div>

        <div>
         <!-- <label for="time_box">
            Time
          </label>

          <input type="datetime-local" id="time_box" name="query_time">-->
        </div>

        <button>
          Create event
        </button>
      </form>
    </div>
  </div>

  <hr>
<% end %>
<% if @list_of_events != nil %>

  <div>
    <div>
      <table border="1">
        <tr>
          
          <th>
            Name
          </th>

          <th>
            Notes
          </th>

          <th>
            Trip
          </th>

    <!--      <th>
            Time
          </th>-->

          <th>
            Created at
          </th>

          <th>
            Updated at
          </th>

          <th>
          </th>
        </tr>

        <% @list_of_events.each do |an_event| %>
          <tr>
            
            <td>
              <%= an_event.name %>
            </td>

            <td>
              <%= an_event.notes %>
            </td>

            <td>
              <%= an_event.trip_id %>
            </td>

       <!--     <td>-->
              <%#= an_event.time %>
<!--            </td>
-->
            <td>
              <%= time_ago_in_words(an_event.created_at) %> ago
            </td>
            <td>
              <%= time_ago_in_words(an_event.updated_at) %> ago
            </td>

            <td>
              <a href="/events/<%= an_event.id %>">
                Show details
              </a>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
<% else %>
  No Events currently posted
<% end %>
<hr>
