<!DOCTYPE html>
<html>
  <head>
    <title>Rails Template</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
 
       <nav>
      <a href="/">Home</a>
      <% if current_user == nil #check the cookie to see if it is nil or if there is a user - "current_user" checks the cookie to see if there is a user or not. If no user, it retruns nil %>
        
      
      <a href="/users/sign_up">Sign up</a>
      <a href="/users/sign_in">Sign in</a>

      <% else %>
      <a href="/trips">My Trips</a>
      <a href="/users/edit">Edit profile</a>
       <a href="/users/sign_out">Sign out</a>
      <% end %>
    </nav>

    <hr>

    <% if notice.present? %>
      <div style="color: green">
        <%= notice %>
      </div>
    <% end %>

    <% if alert.present? %>
      <div style="color: red">
        <%= alert %>
      </div>
    <% end %>


    <%= yield %>
  </body>
</html>
